__Data:__ <br> Suffolk County, NY Salaries By Department

__Source:__ <br> https://opendata.suffolkcountyny.gov/datasets/a857361de9c1403187f2d3129390f1d4_0/explore

__Summary:__ <br>The County of Suffolk Annual Salaries File for the Year 2022 is a yearly summary of Payroll Data for all Suffolk County employees.<br>
This file contains the Employee Names and Hired Date along with their most recent Job Title and Department.  In addition, the file contains the Employeeâ€™s Regular Pay Rate (Hourly, Biweekly or Annual Salary), the Year to Date Regular Earnings, Longevity Pay, Overtime Pay, and Other Payments (comprised of Holiday Pay, Night Differential Pay, Cleaning and Clothing Allowances, Taxable Legal Benefit Amounts, etc.).  If an employee has been terminated or has separated from County employment, the Separation Payment Amount (if applicable), and Termination Date is also included.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('County_Salaries_By_Department_-_2022.csv')
df.head(1)

,Year,Last_Name,First_Name,Department,Job_Title,BU,Salary,Longevity,Overtime,Total_Earnings,Hire_Date,Terminate,Termination_Date,FID
0,2022,AARON,JUNE,Board Of Elections,9208T - ABSENTEE BALLOT COORDINATOR,Temp,2641.25,0.0,0.0,2641.25,2022/05/01 00:00:00+00,0.0,NaN,1

In [3]:
# removing personal information
df.drop(['Last_Name', 'First_Name'], axis=1, inplace=True)
# removing year since all are from 2022
df.drop(['Year'], axis=1, inplace=True)
# removing FID to use our index instead
df.drop(['FID'], axis=1, inplace=True)
# renaming 
df.head(2)

,Department,Job_Title,BU,Salary,Longevity,Overtime,Total_Earnings,Hire_Date,Terminate,Termination_Date
0,Board Of Elections,9208T - ABSENTEE BALLOT COORDINATOR,Temp,2641.25,0.0,0.00,2641.25,2022/05/01 00:00:00+00,0.0,NaN
1,Law,0905C - ADMINISTRATOR II,Association of Municipal Employees (AME-White ...,84950.80,2250.0,984.69,92646.91,1999/05/03 00:00:00+00,0.0,NaN

In [4]:
# renaming columns with context
df.rename(
    columns = {
        'Longevity':'Longevity_Pay', 
        'Overtime':'Overtime_Pay', 
        'Terminate':'Termination_Pay', 
        'Total_Earnings':'Total_Pay', 
        'BU':'Bargaining_Unit'
    },
    inplace=True
)

In [5]:
# formatting job title to only include title and no code
def format_job_title(s):
    if('-' in s):
        return s.split('-')[1].strip()
    else:
        return s


df['Job_Title'] = df['Job_Title'].apply(format_job_title)

In [6]:
df.head()

,Department,Job_Title,Bargaining_Unit,Salary,Longevity_Pay,Overtime_Pay,Total_Pay,Hire_Date,Termination_Pay,Termination_Date
0,Board Of Elections,ABSENTEE BALLOT COORDINATOR,Temp,2641.25,0.0,0.00,2641.25,2022/05/01 00:00:00+00,0.0,NaN
1,Law,ADMINISTRATOR II,Association of Municipal Employees (AME-White ...,84950.80,2250.0,984.69,92646.91,1999/05/03 00:00:00+00,0.0,NaN
2,Social Services,OFFICE ASSISTANT,Temp,3150.00,0.0,0.00,3150.00,2022/01/31 00:00:00+00,0.0,2022/04/20 00:00:00+00
3,Public Works,AUTO EQUIPMENT OPERATOR,Association of Municipal Employees (AME-Blue C...,34992.39,0.0,9429.83,45196.64,2019/02/11 00:00:00+00,0.0,NaN
4,Board Of Elections,ABSENTEE BALLOT COORDINATOR,Temp,1406.51,0.0,0.00,1406.51,2022/05/01 00:00:00+00,0.0,NaN

In [7]:
# exporting to csv
df.to_csv('county_salaries_final.csv', index=False)